/* <style> */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@600&family=Lato:wght@300;400;900&family=Raleway:wght@400;600&display=swap');

/*
font-family: 'Lato', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'EB Garamond', serif;

*/
* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;

    display: flex;
    flex-direction: column;
}

body>* {
    flex-shrink: 0;
}
/* body span{
    z-index: -9999;
    position: absolute;
    width: 10%;
    height: 20%;
    border-radius: 50%;
    background-color: red;
    animation: movement 4s infinite;
} */
/* @keyframes movement {
    0%{
        top: 0;
        left: 50%;
    }
    20%{
        top: 50%;
        left:0;
    }
    50%{
        top: 30%;
        left: 20%;
    }
    80%{
        top: 60%;
        left:40%;
    }
} */

/******************AJUSTES GENERALES******************/


h1,
h2,
h3 {
    font-family: 'Raleway', sans-serif;
    color:black
}

p {
    color:black;
    font-family: 'Lato', sans-serif;
}

/****************************************************/
.busqueda{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenedor-pendientes h1,
.contenedor-leidos h1,
.busqueda h1{
    text-align: center;
    margin: 25px 0px 40px 0px;
    text-transform: uppercase;
    font-size: 2.5rem;
    text-shadow: 4px 0px black;
    letter-spacing: 0.3rem;
}
.control-busqueda input{
    border:none;
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 1.2rem;
    width: 45vw;
    border-radius: 15px;
    font-family: 'EB Garamond', serif;
    font-style: italic;
    font-size: 1.3rem;
    box-shadow: inset -6px -4px black;
    transition: all 500ms ease-in-out;
    color:white;
}
.control-busqueda input:focus{
    outline: none;
    text-indent: 5rem;
    background: linear-gradient(to right, #000000, #434343); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   
    font-size: 1.6rem;
}
.control-busqueda button{
    border:none;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    padding:1.6rem;
    color:white;
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin-bottom: 5%;
    cursor: pointer;
}


.contenedor-busqueda,
.contenedor-pendientes-render,
.contenedor-leidos-render {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 2rem;

    /* position: absolute; */
}

.contenedor-book-card {
    /* position: sticky; */
    /* margin: 0 auto; */
}

.book-card {
    width: 250px;
    -webkit-box-shadow: 9px -7px 15px 0px rgba(146, 146, 146, 0.98);
    box-shadow: 9px 3px 10px 1px rgba(146, 146, 146, 0.98);
    height: 450px;
    overflow-y: auto;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}
.book-card::-webkit-scrollbar{
    display: none;
}

.book-card img {
    width: 270px;
    height: 325px;
   
    object-fit: fill;
}
.book-card img:hover{
    filter: brightness(50%);
}

.book-card-info {
  
    width: 100%;
    transition: all 4s ease;
 
    
}
.book-card-info:hover{
    box-shadow: 5px -10px blue;
}


.book-card-info p {
    width: 90%;
    color:black;
    padding: 0.65rem;
 
}

.extra-info-card {
    display: block;
    border: 1px solid transparent;
    border-radius: 20px;
    padding: 1rem;
    position: absolute;
    /* width: 50%; */
    top: 0;
}

.extra-info-card-move {
    padding: 1rem;
    border-image: url("https://i.stack.imgur.com/sjbeu.png") 100 10 repeat;
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    z-index: 10;
    /* top: 10px; */
    /* width: 50rem; */
    width: 80%;
    
    outline: 5px ridge rgba(1, 41, 68, 0.93);
    /* outline-offset: 10px; */
    box-shadow: 0px 10px 34px 22px rgba(105, 105, 105, 1);
    animation: mymove 2s forwards;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.extra-info-card> * {
    color:white;
}

#extra-card-description{
    z-index:20;
    
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.8rem;
    text-shadow: 3px -5px rgba(6, 2, 7, 0.575);
    
}
#extra-card-description + p{
    text-align: justify;
    width: 65%;
    margin: 0 auto;
    column-gap: 50px;;
    padding:1rem;
   
}
#extra-card-description + p.center-p{
    text-align: center;
}
#extra-card-description:hover{
   
}

.extra-info-card>p {
    padding: 0.5rem;
    text-align: justify;
}


@keyframes mymove {
    from {
        top: 0px;
        left: 0px;
    }

    to {
        top: calc(100vh / 2 - 40%)
    }

    from {
        left: 0px;
    }

    to {
        left: calc(100vw - 93.5vw - 8px);
    }
}

.header-extra-card {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    margin-bottom: 2%;
}


.left-header-extra-card {
    /* height: 100%; */
    /* border:1px solid black; */
    width: 30%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* flex-grow: initial; */
    flex-shrink: 1;
    flex-wrap: wrap;
}

.extra-card-book-info {
   
    display: flex;
    flex-direction: column;
   
}
.extra-card-book-info > * {
    color:white;
}
.average-rating-stars p {
    color: white;
}
.left-header-extra-card img {
    width: 220px;
    height: 250px;
    margin-bottom: 3%;
}
.left-header-extra-card > *{
    color: white;
}

.right-header-extra-card {
    
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-shrink: 2;
}
.right-header-extra-card > * {
    color:white;
}

.right-header-extra-card>* {
    text-transform: uppercase;
    text-align: center;
}

.right-header-extra-card h1 {
    font-size: 2.2rem;
}

.right-header-extra-card h2 {
    font-size: 1.5rem;
}

.right-header-extra-card h3 {
    font-size: 1.2rem;
    font-weight: 600;
}

.right-header-extra-card p {
    padding: 0.3rem;
    font-size: 0.9rem;
}

/*ESTRELLAS*/
/*
// <i class="far fa-star"></i>
// <i class="fas fa-star"></i>
// <i class="fas fa-star-half-alt"></i>
*/

.fa-star,
.fa-star-half-alt {
    color: rgb(229, 255, 0);
    padding: 0.1rem;
    -webkit-text-stroke: 1px rgb(0, 0, 0);

}
/*

BOTONES
*/
.btn-firebase,
.btnReadBook,
.btnReadBook-remove{
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
	background-color:#33bdef;
	border-radius:6px;
	border:1px solid #057fd0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;
}
.btn-firebase:hover {
	background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
	background-color:#019ad2;
}
.btn-firebase:active {
	position:relative;
	top:1px;
}
.btnControl{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid white; */

}

.btn-read {
    margin-top:1%;
	box-shadow:inset 0px 39px 0px -24px #e67a73;
	background-color:#e4685d;
	border-radius:4px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:6px 50px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}
.btn-read:hover {
	background-color:#eb675e;
}
.btn-read:active {
	position:relative;
	top:1px;
}

.btn-pagination {
	box-shadow:inset 0px -3px 7px 0px #2f0480;
	background:linear-gradient(to bottom, #040040 5%, #07006e 100%);
	background-color:#040040;
	border-radius:3px;
	border:1px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}
.btn-pagination:hover {
	background:linear-gradient(to bottom, #2a71c2 5%, #0078af 100%);
	/* background-color:#07006e; */
}
.btn-pagination:active {
	position:relative;
	top:1px;
}

  
/* PAGINATION */
.pagination-control{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 15px 0px 20px 0;
    
}
.pagination-control button{
    margin: 0px 2px 0px 2px;
    width: 5%;
    height: 3.5%;
    padding: 1rem;
}


.backdrop {
    z-index: 9;
    position: absolute;
    background: rgba(5, 6, 7, 0.75);
    background-repeat: space;
    width: 100%;
    max-height: max-content;
    height: 585%;
    object-fit: fill;
}

.ocultar {
    display: none;
}

/**CSS ANIMISTA**/
/* ----------------------------------------------
 * Generated by Animista on 2021-12-17 10:1:4
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-pop-up-top
 * ----------------------------------------
 */


 /* ----------------------------------------------
 * Generated by Animista on 2021-12-17 10:20:53
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
 .tracking-in-expand {
    position: absolute;
    top: 18%;
    left:0;
    z-index: 465464;
    text-align: center;
    color: white;
    height: 120%;
    width: 100%;
    font-size: 5rem;
    background: rgba(10, 16, 16, 0.88);
	-webkit-animation: tracking-in-expand 1.2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 1.2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
@-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  
 /* .text-pop-up-top {
     position: absolute;
     top: 20%;
     left:0;
     z-index: 465464;
     text-align: center;
     color: white;
     height: 120%;
     width: 100%;
     font-size: 5rem;
     background: rgba(10, 16, 16, 0.68);
	-webkit-animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
 @-webkit-keyframes text-pop-up-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      text-shadow: none;
    }
    100% {
      -webkit-transform: translateY(-50px);
              transform: translateY(-50px);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
    }
  }
  @keyframes text-pop-up-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      text-shadow: none;
    }
    100% {
      -webkit-transform: translateY(-50px);
              transform: translateY(-50px);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
    }
  }
   */