.cuadrado{
    background: red;
    width: 800px;
    height: 100px;
    border-radius: 30px;
    border: 2px solid black;
    box-shadow: 2px 3px 0px 3px black;
    transition: all 3s ease-in;
    text-align: center;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;    
}


.cuadrado:hover{
    background: linear-gradient(90deg, red, rgb(13, 150, 155));
    height: 300px;
    border-radius: 5px solid green;
    
}

p{
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 1.2rem;
    transition: all 1s ease-in;
}

.cuadrado:hover p{
    font-size: 1.5rem;
    letter-spacing: 1.5rem;
}
