.btn-leer-linea{
    z-index: 10;
    color: white;
    text-decoration: none;
    height: 35px;
    line-height: 35px;
    padding: 0 3rem 0 3rem;
    border: 1px solid black;
    border-radius: 12px;
    font-weight: bold;
    background:linear-gradient(rgb(170,68,49),rgb(255,120,80));
}

.btn-leer-linea:hover{
    cursor: pointer;
    color: white;
    background:linear-gradient(rgb(255,120,80),rgb(170,68,49));
}