
.book-card {
    width: 200px;
    -webkit-box-shadow: 9px -7px 15px 0px rgba(146, 146, 146, 0.98);
    box-shadow: 9px 7px 10px 1px rgba(146, 146, 146, 0.98);
    height: 450px;
    overflow-y: auto;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}
.book-card::-webkit-scrollbar{
    display: none;
}

.book-card img {
    width: 200px;
    height: 250px;
   
    object-fit: fill;
}
.book-card img:hover{
    filter: brightness(50%);
}

.book-card-info {
  
    width: 100%;
    transition: all 4s ease;
 
    
}
.book-card-info:hover{
    box-shadow: 5px -10px blue;
}


.book-card-info p {
    width: 90%;
    color:black;
    padding: 0.65rem;
 
}