.header-container-logo{
    min-width: 30%;
    width: 40%;


}

.header-logo{
    min-width: 1.5rem;
    min-height: 1.5rem;
    width: 6rem;
    height: 6rem;
    padding: 1rem;
    transform: scale(1.4);

}
