.notas-options{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
 
}

.nota-div{
    width: 20%;
    min-width: 250px;
    padding: 0.75rem;
    border: 1px solid transparent;
    height: auto;
    min-height: 150px;
    border-radius: 15px;
    box-shadow: 1px 2px 3px 1px rgba(10,10,10,0.5);
}

.nota-content{
    overflow-wrap: break-word;
}

.color-box{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(15,15,15,0.66);
    box-shadow: 1px 2px 3px 1px rgba(10,10,10,0.5);
}

.color-box:hover{
    cursor:pointer;
}


.white{
    background-color: white;
}
.red{
    background-color: rgba(245, 82, 80, 0.75);
}
.blue{
    background-color: rgba(78, 108, 255, 0.45);
}
.green{
    background-color: rgba(128, 235, 148, 0.95)
}
.yellow{
    background-color: rgba(230, 255, 70,0.95)
}
.pink{
    background: rgba(255,162,183,0.95)
}