.notas-section{
    width: 40%;

    margin-top: 3%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-shrink: initial;
    grid-auto-flow: row;
  
    flex-grow: initial;
    grid-row-gap: 20px;
}