.add-form input{
    border: none;
    margin: 5px 0 5px 0
}

.add-form input:focus{
    outline: none;
    
}
.add-form-input-titulo::placeholder{
    font-weight: bold;
    color: rgb(3, 3, 3);
    font-size: 1.1rem;
}
.add-form-input-nota::placeholder{
    color: grey;
    font-size: 0.9rem;
}